.header {

    align-content: center;
}


.wrap {
    display: flex;
    transform: rotateY(0deg);
    transition: all 1.0s cubic-bezier(.25,.8,.25,1);
    transform-style: preserve-3d;
}

.header {
    width: 800px;
    position: relative;
    z-index: 2;
    color: #26706e;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 3.0s cubic-bezier(.25, .8, .25, 1);
    margin: 0 auto;
}
.header:hover .wrap {
    transform: rotateY(-45deg);
     cursor: pointer;
 }
.header:hover {
    z-index: 1;
}

.header:hover .left:before {
     width: 55%;
 }

.left {
    width: 500px;
    padding: 15px 20px;
    text-align: right;

    transform-style: preserve-3d;
    transform: rotateY(0deg);
}
.left:before {
    content: "";
     position: absolute;
    display: block; top:0; left:0; width: 50%; height: 100%;
     transition: width 1s ease-in-out;
 }

.right { width: 400px; padding: 15px 20px;
    text-align: left;
    transform: rotateY(90deg);
    transform-origin: left center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}