.container {
    width: 75%;
    max-height: 80%;
    border: #282c34 solid 1px;
    overflow: auto;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 4px 4px;
}

.container div:not(:last-of-type) {
    margin-bottom: 4px;
}